*{
	margin: 0 auto;
}

#header{
	width: 100%;
	height: 61px;
	background-color: black;
}
.logo{
	margin-left: 48px;
    color: white;
    position: relative;
    top: 11px;
}
.h{
   color: silver;
    margin-left: 120px;
    font-size: 16px;
    margin-top: -30px;
}
p{
	 color: white;
    margin-left: 144px;
    position: relative;
    left: 119px;
    top: 7px;
   
}

/*the end of header*/