.fullWidth{
	width:1200px;
}

.bgGray24{
	background: #3D3D3D;
}

.colorCoral{
	color:#FF7F50;
}

.margin{
	margin:15px 75px;
}

.borderRadius{
	border-radius:5px;
}


.menuSection{
	height:50px;
	
}

.menuPosition{
	position: relative;
	left:-40px;
	top:10px;
}
li{
	list-style-type: none;
	display:inline;
	padding:20px 20px;
	
	
}

li:hover>i{
	color:#0000FF;
	cursor:pointer;
}
li:hover>a{
	color:#0000FF;
	cursor:pointer;
}

.menuSection a:hover{
	text-decoration: none;
	
}

.menuPosition .fa-user{
	position: relative;
	top: 0px;
}