.bgBlack{
	background: #525252;
}

.bgBlue{
	background: #9AC0CD;
}
.bgwhiteSmoke{
	background: #F5F5F5;
}
.colorCoral{
	color:#F08080;
}

.colorGray{
	color:#A9A9A9;
}
.colorRed{
	color:#EE2C2C;
}

.colorWhite{
	color:#FFFFFF;
}
.colordarkGray{
	color:#A9A9A9;
}
.fullWidth{
	width:1200px;
}

.margin{
	margin-left: 70px;
	margin-top:30px;
}
.smallDiv{
	width:110px;
	height:80px;
}
.floatLeft{
	float:left;
}
.textDecoration{
	margin-left: 30px;
	margin-top: 10px;
}

.border{
	border:1px solid #EBEBEB;
}

.advanceLogin{
	height: 80px;
	
}
.borderRadius{
	border-radius:5px;
}
.logoAls{
	width:380px;
	height:80px;
	}

.logoL{
	margin-left: 30px;
	margin-top: 15px;
}

.textHash{
	position:absolute;
	left:150px;
	top:10px;
	color: #8E8E8E;
}
.textPas{
	position: absolute;
	left:160px;
	top:40px;
}

.homePage{ 
	position:absolute;
	right:120px;
}
.homePage:hover{
	background:white;
}
.contactUs{
	position:absolute;
	right:0px;
	top:0px;
}

.icon{
	position: absolute;
	left:20px;
	top:0px;
}
.iconText{
	position: absolute;
	bottom:-5px;
	left:5px;
}

.microPhone{
	height:70px;
	
}


.fa-microphone{
	margin-left: 25px;
	margin-top: 10px;
	color:#999999;
}
.microText1{
	position: absolute;
	top:10px;
	left:100px;
}
.microText2{
	position: absolute;
	left:100px;
	top:35px;
}

.lightBulb{
	height:70px;
	

}

.fa-lightbulb-o{
	margin-left: 25px;
	margin-top: 10px;
}

.bulbText1{
	position: absolute;
	left:80px;
	top:15px;
}
.bulbText2{
	position: absolute;
	top:40px;
	left:80px;
}

.manageAccount{
	height:90px;
	border-top: none;

}

.adminUser{
	height:430px;
	
}


.text{
	margin-left: 30px;
	margin-top: 10px;
}
.iconAdmin{
	width:552px;
	height:40px;
	margin-left: 30px; 
	margin-top: 20px;
}
.divText{
	margin-top: 10px;
	margin-left: 10px;
}

.inputAdmin{
	width:552px;
	height:40px;
	margin-top:20px;
}

.inputText{
	color:#7171C6;
	margin-top: 10px;
}

.inputClass{
	width:320px;
	height: 30px;
	margin-top: 30px;
	margin-left: 30px;
}


.radio{
	position: absolute;
	left:50px;
	top:20px;
}

.radioText{
	position: relative;
	left:30px;
	top: 20px;
}
.userAtavar{
	width:460px;
	height:40px;
	margin-left:30px;
	margin-top: 30px;
}

.userAtavar button{
	width:100px;
	height:30px;
	background: #71C671;
	border:1px solid #71C671;
	position: absolute;
	right:110px;
	bottom:35px;
	color:white;
}

.portFolio{
	width: 80px;
	height: 80px;
	background: white;
}

.lastDate{
	width: 520px;
	height: 35px;
	margin-left: 30px;
	margin-top: 30px;
}

.fa-calendar{
	position: relative;
	left:5px;
	top:5px;
}

.calendarText{
	position: relative;
	top:-15px;
	left: 30px;
}

.buttonProfile{
	height:90px;
	
}

.updateProfil{
	position: relative;
	top:40px;
	left:4px;
	border-right: none;
	color:white;

	border:1px solid #9AC0CD;

}

.checkUpdate{
	position:relative;
	top:40px;
	color:white;
	border:1px solid #9AC0CD;
}

.footer{
	height: 80px;
	margin-left: 70px;
	text-align: center;

}

.footerText{
	width:305px;
	height: 50px;
	
	position: relative;
	top:10px;
	left:400px;
}

