*{
	margin: 0 auto;
}
/*second part of header*/
 #lastHeader{
 	width: 100%;
	height:45px;
	background-color:white;
 }
 .fa{
 	font-size: 15px!important;
 	margin-top: 10px;
 	color: #343434;
 }
 #SignProfile{
 	
 	float:right;
 	 margin-right: 72px;
 	 
 }
 /*the end of second part of header*/
