.fullWidth{
	width:1200px;
}

.colorWhite{
	color:white;
}

.bgGray24{
	background: #3D3D3D;
}

.bgWhite{
	background: white;
}

.bgGray93{
	background: #F2F2F2	;
}

.colorGray71{
	color: #B5B5B5	;
}

.colorCoral{
	color:#FF7F50;
}

.colorRed{
	color:#FF6A6A;
}

.colorlightPink{
	color:#FFB6C1;
}


.margin{
	margin:15px 75px;
}

.borderRadius{
	border-radius:5px;
}

.floatLeft{
	float:left;
}

.border{
	border:1px solid #E8E8E8;
}

.advancedLogin{
	width:100%;
	height:60px;
	
}

.logo{
	position: relative;
	left:55px;
	top:7px;
}

.advancedLogin p{
	position: relative;
	top:10px;
	left:15px;
}

.dashBoard{
	width:100%;
	height:45px;
	

}

.sectionFirst{
	position: relative;
	left:60px;
	top:10px;
}

.sectionFirst p{
	position: relative;
	left:120px;
	bottom:20px;
}

.sectionSecond{
	width:180px;
	height:45px;
	
	position: relative;
	left:100px;
}



.proFile{
	width:80px;
	height: 45px;
	
}

.fa-user{
	position: relative;
	top:10px;

}


.proFile p{
	position: relative;
	left:15px;
	bottom:10px;
}

.fa-power-off{
	position: relative;
	top:10px;
}

.signOut{
	position: relative;
	left:15px;
	bottom:10px;
}

.menuSection{
	height:50px;
	
}

.menuPosition{
	position: relative;
	left:-40px;
	top:10px;
}
li{
	list-style-type: none;
	display:inline;
	padding:20px 20px;
	
	
}

li:hover>i{
	color:#0000FF;
	cursor:pointer;
}
li:hover>a{
	color:#0000FF;
	cursor:pointer;
}

.menuSection a:hover{
	text-decoration: none;
	
}

.menuPosition .fa-user{
	position: relative;
	top: 0px;
}
.lightBulb{
	height:70px;
	background:#8DB6CD;
}




.fa-lightbulb-o{
	position: relative;
	top:10px;
	left:15px;
}

.textBulb{
	position: relative;
	left:50px;
	bottom:30px;
}


.systemConfiguration{
	height:800px;
	
}

.textSystem{
	height:70px;
	
}

.textSystem h4{
	position: relative;
	left:15px;
	top:7px;
}


.inputSection{
	height:220px;
	
}

.websiteName{
	width:360px;
	height: 35px;
	
	position: relative;
	top:30px;
	left:7px;
}

.inputSection .fa-asterisk{
	position: relative;
	top:7px;
	left:5px;
}

.inputSection input{
	position: relative;
	top:5px;
	left:10px;
	outline:none;
	border:0;
	
}

.inputSection .fa-exclamation-circle{
	position: relative;
	left:145px;
	top:7px;
}

.websiteText {
	position: relative;
	top:40px;
	left:10px;
}

.itemsPage{
	width:360px;
	height: 35px;
	
	position: relative;
	top:70px;
	left:7px;
}

.itemsText {
	position: relative;
	top:80px;
	left:10px;
}



.inputRadio{
	height:210px;
	
}


.radioInput{
	width:200px;
	height: 50px;
	
	position: relative;
	top:30px;
	left:10px;
}

.radioInput input{
	width:20px;
	height:20px;

}

.radio{
	position: relative;
	bottom:37px;
	left:100px;
}

.radioText{
	position: relative;
	top:20px;
	left:10px;
}

.col-md-3 .fa-exclamation-circle{
	position: relative;
	top:20px;
	left:20px;
}


.userLimit{
	width: 160px;
	height: 35px;
	
	position: relative;
	top:50px;
	left:10px;
}


.userLimit input{
	width:130px;
	position: relative;
	left:10px;
	top:3px;
	outline: none;
	border:0;
}

.userLimit .fa-exclamation-circle{
	position: relative;
	top:3px;
}

.userText{
	position: relative;
	top:60px;
	left:12px;
}


.companyLogo{
	width:360px;
	height:35px;
	
	position: relative;
	top:50px;
}


.browse{
	border:none;
	background: lightgreen;
	color:white;
	position: relative;
	left:290px;
	top:5px;
}

.browse:hover{
	background: black;
}


.buttonText{
	position: relative;
	top:60px;
}

.deleteLogo{
	width:300px;
	height:35px;
	
	position: relative;
	top:50px;
}

.deleteLogo input{
	width:20px;
	height:20px;
	position: relative;
	bottom:5px;
}


.deleteLogo p{
	position: relative;
	left:30px;
	bottom:30px;
}


.logoText{
	position: relative;
	top:40px;
}

.defAult{
	height:70px;
	
}

.defAult h4{
	position: relative;
	top:20px;
	left:10px;
}

.phpMailer{
	height: 130px;
	
}

.sectionPhp{
	width:550px;
	height: 35px;
	outline: none;
	position: relative;
	top:30px;
	left:10px;
	outline:none;
}


.phpText{
	position: relative;
	top:40px;
	left:10px;
}

.buttonSection{
	height: 100px;
	
}

.upDate{
	width:180px;
	height: 40px;
	border:none;
	background: lightblue;
	position: relative;
	top:30px;
	color:white;
}  


.footer{
	height:100px;
	
}

.footerText{
	position: relative;
	top:20px;
}
