.fullWidth{
	width:1200px;
}


.bgGray24{
	background: #3D3D3D
}

.bgwhiteSmokey{
	background:#F4F4F4;
}

.colordarkGray{
	color:#A9A9A9;
}
.margin{
	margin: 25px 75px;
}

.borderRadius{
	border-radius: 5px;
}

.marginTop{
	margin-top: 25px;
}

.colorlightCoral{
	color:#F08080;
}
.floatLeft{
	float:left;
}

.iconPosition{
	position:relative;
	left:35px;
	top:7px;
}

.textPosition{
	position: relative;
	left:10px;
}

.advancedLogin{
	height: 80px;
}
.logo{
	width:385px;
	height: 80px;
	
}

.imgLogo{
	position: relative;
	left:55px;
	top:15px;
}

.homePage{
	width:120px;
	height: 80px;
	
	position: absolute;
	left:155px;
	
}


.contactUs{
	width:120px;
	height: 80px;
	
	position: absolute;
	right:0px;
}


.welcomeClient{
	height: 70px;
}

.welcomeClient i{
	position: relative;
	top:10px;
	left:20px;
}
.welcomeClient p{
	position: relative;
	left:30px;
	top:5px;
}